# ==============
# Database Files
# ==============
*.ldf
*.mdf
*.bak

# ================
# OSX System Files
# ================
.DS_Store
.AppleDouble
.LSOverride

# ====================
# Windows System Files
# ====================
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# =========
# Dive logs
# =========
dive.log